packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
.vscode
*.retry
jdauphant.nginx
vault.key
src/.env
src/docker-compose.yml
docker/.env
docker/docker-compose.yml
*/.env
*/docker-compose.yml
