packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
.vscode
*.retry
jdauphant.nginx
vault.key
src/docker-compose.yml
*/.env
docker/docker-compose.yml
src/comment/build_info.txt
src/post-py/build_info.txt
src/ui/build_info.txt
